/* DARK --------------------------- */

#header { background-color: #1f1b1a; }

	#topbar { background-color: transparent; }
		#topbar .container { border-bottom: 1px dotted #333; }

	.navbar .nav > li > a {
		color: #fff;
		border-left-color: #333;
	}
	.navbar .nav > li:hover > a { color: #ccc; }
	.dropdown-menu li > a:hover, 
	.dropdown-menu .active > a, 
	.dropdown-menu .active > a:hover {
		background-color: #777;
	}

	#search input { border:0; }

#logo-white { display: inline !important;}
#logo-black { display: none !important;}

#footer { border-top: 1px solid #999; }

	.btn-cart {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		color: #ffffff !important;
		text-transform: uppercase;
		background-color: #F97216;
		background-image: -moz-linear-gradient(top, #f97216, #f4430d);
		background-image: -ms-linear-gradient(top, #f97216, #f4430d);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f97216), to(#f4430d));
		background-image: -webkit-linear-gradient(top, #f97216, #f4430d);
		background-image: -o-linear-gradient(top, #f97216, #f4430d);
		background-image: linear-gradient(top, #f97216, #f4430d);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f97216', endColorstr='#f4430d', GradientType=0);
		border-color: #f97216 #f97216 #f4430d;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	}
	.btn-cart:hover,
	.btn-cart:active,
	.btn-cart.active,
	.btn-cart.disabled,
	.btn-cart[disabled] {
	  	background-color: #f4430d;
	  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			color: #ffffff !important;
	}
	.btn-cart:active, .btn-cart.active {
		background-color: #f4430d \9;
	}
	.cart-total a {
		color: #f97216;
	}

@media only screen and (max-width: 767px) {

	#welcome a {
		color: #fff;
	}

	.nav-collapse.in { background: #212121; border-color: #333; }
	.nav-collapse li { border-top: 1px dotted #333;	}
	#homelink { display: none; }
	.btn-navbar span {color: #fff; text-shadow: none; }

	.navbar .btn-navbar {
		float: right;
		background-color: #2C2C2C;
		background-image: -moz-linear-gradient(top, #333, #222);
		background-image: -ms-linear-gradient(top, #333, #222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
		background-image: -webkit-linear-gradient(top, #333, #222);
		background-image: -o-linear-gradient(top, #333, #222);
		background-image: linear-gradient(top, #333, #222);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
		border-color: #222 #222 black;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	}

	.navbar .btn-navbar span {
		border-right-color: #333;
	}

	.navbar .btn-navbar:hover {
		background-color: #222;
	}
	
}