/*
Your custom styles.
*/


/* WHITE */


#header {
	background-color: #fff;
}
#topbar {
	background: transparent;
	border-top: 4px solid #333;
	padding-top:4px;
}
#logo {
	padding-top: 0;
}
#header .rightbox2 { padding-top: 20px; }

#header .info { margin-top: 20px;	}

#welcome {
	position: relative;
	top: 0;
	margin-top: 6px;
}
	#welcome a {
		color: #333;
	}
#wrapselector a {
	color: #333;
	border-left-color: #ddd;
}
.cart-total:hover{
	background: transparent;
}
.cart-total a:hover {
	color: #333;
}
i.icon-bag {
	background: transparent url(../images/sprite.png) -58px -30px no-repeat;
	background-position: -76px -30px;
}
#cart .arrow {
	border-top: 1px solid transparent;
	background: transparent url(../images/sprite.png) 6px -28px no-repeat;
}
#cart.active .arrow {
	border-top: 1px solid #aaa;
}
.cart-total a {
	border-right-color: #ddd;
}

@media only screen and (max-width: 767px) {

	#logo { padding: 20px 0 0; }

	#language + #currency {
		border-left: 1px solid #aaa;
	}
	
}