.box-mcatmod {
   position: relative;
   z-index: 4;
}
.box-mcatmod ul li .catright .nochild a.ndfirst {
   display: inline;
}
.box-mcatmod ul li .catright li.ndlevel {
   display: inline;
}
.box-mcatmod ul li.catfirst {
   width: 100%;
   margin: 0px;
}
.box-mcatmod ul li.catfirst a.lfirst {
   font-size: 12px;
   line-height: 12px;
   display: block;
   padding: 10px;
   margin: 0px;
   color: #333;
   border-bottom: 1px solid #fff;
}