.box-mcatmod ul {
   display: bolck;
   margin:0;
   padding: 0;
   list-style: none;
   z-index: 9999;
}
.box-mcatmod a {
   color: #333;
   padding: 7px;
   display: block;
   text-decoration: none;
   text-shadow: 1px 1px 1px #fff;
}
.box-mcatmod ul {
   position: relative;
}
.box-mcatmod ul li .catright {
   display: none;
   position: absolute;
   top: -15px;
   left: 188px;
   min-height: 120%;
   padding-bottom: 10px;
   width: 780px;
   z-index: 9999;
   background: rgb(100, 100, 100);
   background: rgba(100, 100, 100, 0.6);
   background: url('crbg.png') top right no-repeat;
   border: 1px solid #ddd;
   padding-right: 5px;
	-webkit-border-radius: 7px 0px 7px 0px;
	-moz-border-radius: 7px 0px 7px 0px;
	-khtml-border-radius: 7px 0px 7px 0px;
	border-radius: 7px 0px 7px 0px;
}
.box-mcatmod ul li .catright h2 {
   margin-left: 15px;
   margin-top: 15px;
}
.box-mcatmod ul li .catright .category-info {
   margin-left: 15px;
   margin-bottom: 10px;
}
.box-mcatmod ul li.catfirst:hover .catright, .box-mcatmod ul li.catfirst.act .catright {
   display: block;
}
.box-mcatmod ul li.catfirst {
   display: block;
}
.box-mcatmod ul li.catfirst {
   background: url('mcn.png') right center no-repeat;
}
.box-mcatmod ul li.catfirst a.lfirst {
   font-size: 12px;
   line-height: 12px;
   display: block;
   font-weight: 500;
   padding: 9px;
   padding-bottom: 10px;
   color: #333;
   border-bottom: 1px solid #fff;
}
.box-mcatmod ul li.catfirst.kids {
   background: #fff url('mcnk.png') right center no-repeat;
}   
.box-mcatmod ul li.catfirst:hover {
   background: #fff url('mcnh.png') right center no-repeat;
}
.box-mcatmod ul li.catfirst.kids:hover {
   background: #fff;  
}
.box-mcatmod ul li .catright .nochild a.ndfirst {
   width: 16%;
   margin-left: 15px;
   padding: 0px;
   padding-top: 4px;
   padding-bottom: 4px;
   display: inline-block;
   font-weight: bold;
   color: #38B0E3;
   border-bottom: 1px dashed #ddd;
}
.box-mcatmod ul li .catright .nochild a.ndfirst:hover {
   color: #111;
}
.box-mcatmod ul li .catright li.ndlevel {
   width: 22%;
   display: inline-block;
   vertical-align: top;
   margin-left: 15px;
}
.box-mcatmod ul li .catright li.ndlevel a {
   color: #333;
   font-weight: bold;
   margin-top: 10px;
   font-size: 13px;
   background: #eee;
   border: 1px solid #ddd;
   border-bottom: none;
}
.box-mcatmod ul li .catright li.ndlevel a:hover {
   background: #fff;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel {
   border: 1px solid #ddd;
   background: #fff;
}
.box-mcatmod ul li .catright li.ndlevel ul li + li {
   border-top: 1px dashed #ddd;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel a {
   color: #38B0E3;
   font-weight: normal;
   font-size: 12px; 
   margin-top: 0px;
   padding-top: 5px;
   padding-bottom: 5px;   
   background: none;
   border: none;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel a:hover {
   color: #111;
}